@use '@/styles/ohma';

.wrapper {
    min-height: 500px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
}

.migration {
    margin-top: calc(3 * #{ohma.$gap});
}

.members {
    margin-top: calc(3 * #{ohma.$gap});
}
