@use '@/styles/ohma';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(3 * #{ohma.$gap});
}

.facts {
    display: flex;
    flex-wrap: wrap;
    gap: calc(3 * #{ohma.$gap});
    color: ohma.$colors-text-muted;
}

.explanation {
    color: ohma.$colors-text-muted;
    max-width: 70ch;
}
