@use '@/styles/ohma';

.EventLocationInput {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: calc(2 * ohma.$gap);

    legend {
        margin-bottom: ohma.$gap;
        font-weight: ohma.$fonts-weight-l;
    }

    > button {
        align-self: flex-start;
    }
}

.coordinates {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(2 * ohma.$gap);
}

@media (max-width: ohma.$mobileBreakpoint) {
    .coordinates {
        grid-template-columns: 1fr;
    }
}
