@use "@/styles/ohma";

.ScrollIndicator {
    position: absolute;
    width: 3px;
    border-radius: 999px;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.thumb {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 12px;
    border-radius: 999px;
    background-color: ohma.$colors-surface-subtle;
}
