@use '@/styles/ohma';

.CompanyChooser {
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: calc(2 * #{ohma.$gap});
    --company-card-min: 150px;
}

.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: ohma.$gap;
    flex-shrink: 0;

    a {
        @include ohma.secondaryBtn;
        margin: 0;
        white-space: nowrap;
    }
}

.header .filter {
    flex: 1 1 12em;
    max-width: 20em;
    margin-top: 0;
}

.list {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding-right: ohma.$gap;

    > div {
        margin-top: 0;
    }
}
