@use '@/styles/ohma';

.CreateJobAdForm {
    @include ohma.screenLg {
        display: grid;
        grid-template-columns: minmax(240px, 320px) 1fr;
        gap: calc(4 * #{ohma.$gap});
        min-width: 80vw;
        max-height: 80vh;
        align-items: start;

        .companyList {
            min-height: 0;
            height: 80vh;
        }
    }

    @include ohma.screenMobile {
        display: flex;
        flex-direction: column;
        gap: calc(3 * #{ohma.$gap});

        .companyList {
            max-height: 50vh;
        }
    }
}
