@use '@/styles/ohma';

.AttendanceCheckbox {
    display: flex;
    align-items: center;
    gap: ohma.$gap;

    > .error {
        color: ohma.$colors-error;
        font-size: ohma.$fonts-s;
    }
}
