@use '@/styles/ohma';

.orderHeading {
    margin-top: calc(3 * #{ohma.$gap});
    color: ohma.$colors-text-muted;
}

.memberList {
    @include ohma.ImageCardListLayout;
}

.empty {
    color: ohma.$colors-text-muted;
    font-style: italic;
}

.migration {
    margin-bottom: calc(3 * #{ohma.$gap});
}

.management {
    margin-bottom: calc(3 * #{ohma.$gap});
}
